.movies {
    display: grid;
    width: 80vw;
    margin: 30px auto;
    grid-template-columns: auto auto;
}

.movies_movie {
    display: flex;
    flex-direction: row;
    height: 300px;
    margin: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie_poster {
    position: relative;
    top: -10px;
    left: -10px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie_data {
    flex: 2;
    margin: 10px;
}

.movie_year {
    margin-block-end: 0.4em;
}

.genres_genre {
    padding-inline-start: 0;
    list-style-type: none;
}

.genres_genre li {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 0.8em;
    font-weight: bold;
}

.movie_summary {
    /* 긴 문자열을 자를 때 */
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; */
    margin: 10px 0px;
    overflow: hidden;
}